page-feed {
    h2.feed_title {
        color: red;
        font-weight: bold;
    }
    p.feed_date {
        color: green;
    }

}
.Feed{
    background-color: #DAEFFB;
}
.toolbar-background{
    background-color: #0D89AB;
  }
  
  .tabbar.show-tabbar {
    background-color: #0D89AB;
  }
